:root {
      /* COLOR */
  --c-dark: #151515;
  --c-gray: #444444;
  --c-accent: #D5966C;
  --c-light: #FFFFFF;

  /* FONTS */
  --font-p: 'Outfit', sans-serif;
  --font-heading: 'Big Shoulders Display', sans-serif;

  /* FONTSIZE */
  --font-size-big: clamp(3.75rem, 2.9577rem + 3.3803vw, 6rem);
  --font-size-medium: clamp(3.125rem, 2.9049rem + 0.9390vw, 3.75rem);

  --p-size-big: clamp(1.125rem, 1.0370rem + 0.3756vw, 1.375rem);;
  --p-size-small: clamp(1rem, 0.9560rem + 0.1878vw, 1.125rem);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);    
    text-transform: uppercase;
}

h1 {
    font-size: var(--font-size-big);
    margin: 1.5rem 1rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: var(--p-size-big);
    font-family: var(--font-p);
}

footer p {
    font-size: var(--p-size-small);
}

.hero h1>span {
    display: block;
}

img {
    display: block;    
    object-fit: cover;
}

@media screen and (max-width: 700px) {
    .hero img {
        width: 100%;
    }

    .hero p {
        margin: 0 1rem;
    }
}

.hero button {    
    padding: 1rem 3rem;
    margin-bottom: 1.5rem; 
    margin: 1.5rem 1rem;
}

@media screen and (min-width: 700px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;        
    }
    
    .hero picture {
       grid-column: 1;
       grid-row: 1/3;
       object-fit: cover;
       display: block;
    }

    /* .hero__txt {
        position: relative;
        left: -3rem;
        min-height: 60%;
    } */
    
    .hero h1 {
        margin: 1.5rem 0;
        grid-column: 3;
        grid-row: 1;
        align-self: end;
        position: relative;
        left: -3.5rem;        
    }  

    .hero__txt__right {
        grid-column: 3;
        grid-row: 2/3;
        position: relative;
        left: -3.5rem;
    }
    
    .hero p {
        margin: 1.5rem 0;
    }
    
    .hero button {
        margin-bottom: 1.5rem; 
        margin: 0;
    }  
}

@media screen and (min-width: 1000px) {
    .hero {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    .hero__black {
        background-color: var(--c-dark);
        grid-column: 1/2;
        grid-row: 1/3;
        width: 100%;
        height: 100%;
    }
    
    .hero picture {
       grid-column: 2;
       grid-row: 1/3;
       object-fit: cover;
       display: block;
    }
    
    .hero h1 {
        grid-column: 1/3;
        grid-row: 1/3; 
        position: relative;
        left: 15%;
        color: white;
        margin: 1.5rem 0;
        align-self: center;
    }
    
    .hero h1>span {
        display: block;
    }

    .hero__txt__right {
        grid-column: 3;
        grid-row: 1/3;
        position: relative;
        left: -4rem;        
        align-self: center;
    }
    
    .hero p {
        margin: 1.5rem 0;
    }
    
    .hero button {
        margin: 0 0 1.5rem; 
    }  
}

@media screen and (max-width: 700px) {
    .main picture {
        width: 100%;
        height: 100%;
    }
}

.main {
    max-width: 90%;
    margin: 7.5rem auto;
    display: grid;
    gap: 1rem;    
}

@media screen and (min-width: 700px) {
    .main {
        grid-template-columns: repeat(12, 1fr);      
    }

    .main img {
        width: 100%;        
    }

    .main__day-txt-wrap {
        grid-column: 1/6;
        grid-row: 1/2;
    }

    .main__img-1 {
        grid-column: 6/13;
        grid-row: 1/2;
    }

    .main__img-2 {
        grid-column: 1/8;
        grid-row: 2/4;
    }

    .main__img-3 {
        grid-column: 8/13;
        grid-row: 2/3; 
    }

    .main__inspired-txt-wrap {
        grid-column: 8/13;
        grid-row: 3/4;
        
    }
}

.main p {
    max-width: 80%;
    margin-top: 1.5rem;
}

.main__day-txt-wrap {
    padding: 1rem 0;
}

.main__inspired-txt-wrap,
.footer {
    padding: clamp(2rem, 0.9437rem + 4.5070vw, 5rem);
    background-color: var(--c-dark);
    color: var(--c-light);
}

@media screen and (max-width: 700px) {
    .footer p {
        margin: 2.4rem 0;
    }
}

.footer__social-media {
    display: flex;
    gap: 1rem;
}



